@font-face {
  font-family: Futura;
  font-display: swap;
  src: url("../fonts/futura-pt-demi.woff2") format("woff2"), url("../fonts/futura-pt-demi.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: futura;
  font-display: swap;
  src: url("../fonts/futura-pt-medium.woff2") format("woff2"), url("../fonts/futura-pt-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: FoglihtenNo06;
  font-display: swap;
  src: url("../fonts/FoglihtenNo06.woff2") format("woff2"), url("../fonts/FoglihtenNo06.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Konstruktor;
  font-display: swap;
  src: url("../fonts/KonstruktorRegular.woff2") format("woff2"), url("../fonts/KonstruktorRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Proxima;
  font-display: swap;
  src: url("../fonts/Proxima Nova semibold.woff2") format("woff2"), url("../fonts/Proxima Nova semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: gilroy;
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: yandex;
  font-display: swap;
  src: url("../fonts/yandex-sans-text-medium.woff2") format("woff2"), url("../fonts/yandex-sans-text-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: YandexSansDisplay;
  font-display: swap;
  src: url("../fonts/YandexSansDisplay-Light.woff2") format("woff2"), url("../fonts/YandexSansDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: yandex;
  font-display: swap;
  src: url("../fonts/yandex-sans-text-2.woff2") format("woff2"), url("../fonts/yandex-sans-text-2.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Catallina;
  font-display: swap;
  src: url("../fonts/Catallina.woff2") format("woff2"), url("../fonts/Catallina.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Concrete;
  font-display: swap;
  src: url("../fonts/Concrete-Regular.woff2") format("woff2"), url("../fonts/Concrete-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: "Futura";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Futura";
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  background: #222;
}

.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > * {
  min-width: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__row-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
  width: 15.3%;
  position: absolute;
  top: 15px;
  left: 50%;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  z-index: 5;
}

.boxes-autoplay-progress {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 4px);
          flex: 0 0 calc(20% - 4px);
  margin: 0 2px;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 75px;
  background: rgba(83, 80, 72, 0.5);
}

.boxes-autoplay-progress:nth-child(2) span {
  background: #000;
}

.boxes-autoplay-progress:nth-child(5) span {
  background: #000;
}

.boxes-autoplay-progress:nth-child(9) span {
  background: #000;
}

.boxes-autoplay-progress span {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  border-radius: 29px;
  background: #FFF;
}

.main {
  position: relative;
  position: relative;
}

.main__slide {
  height: auto;
  border-radius: 10px;
  min-height: 100vh;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0.9) !important;
      -ms-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
  opacity: 0.5;
}

.touch .main__slide {
  min-height: calc(var(--vh, 1vh) * 100);
}

.main__slide.swiper-slide-active {
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
  opacity: 1;
}

.main__button-prev {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #000;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  left: 50px;
}

.main__button-prev::after {
  font-size: 25px;
}

.main__button-next {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #000;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  right: 50px;
}

.main__button-next::after {
  font-size: 25px;
}

.no-webp .slide-main {
  background: url("../img/slide1.jpg") 0 0/cover no-repeat; }

.slide-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  text-align: center;
}

.slide-main__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 20px;
  width: 60px;
}

.slide-main__logo img {
  max-width: 100%;
}

.slide-main__sub-title {
  max-width: 300px;
  text-align: center;
  margin: 0px auto 20px;
}

.slide-main__sub-title img {
  max-width: 100%;
}

.slide-main__title {
  color: #FFF;
  font-family: Proxima;
  font-size: 39px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.slide-main__title span {
  color: #FFF;
  font-family: Proxima;
  font-size: 140px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
}

.slide-main__block-text {
  border-radius: 12.903px;
  background: -webkit-gradient(linear, left top, right top, from(#FFC700), to(#B1482A));
  background: linear-gradient(90deg, #FFC700 0%, #B1482A 100%);
  padding: 10px 15px;
  display: inline-block;
  color: #000;
  font-family: Catallina;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.698px;
  margin-bottom: 25px;
}

.slide-main__time {
  color: #E3E3E3;
  text-align: center;
  font-family: Proxima;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.slide-main__time span {
  font-weight: 400;
  display: block;
}

.slide-main__address {
  border-radius: 64.364px;
  background: #FFF;
  padding: 10px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-family: Proxima;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slide-main__address img {
  margin-right: 10px;
  width: 40px;
}

.slide-main__passage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  font-family: Proxima;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slide-main__passage img {
  margin-right: 10px;
  width: 40px;
}

.slide-main__text-head {
  color: #FFF;
  text-align: center;
  font-family: Proxima;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  max-width: 400px;
  margin: 0px auto 20px;
}

.slide-main__copy-block {
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#FFC700), to(#B1482A));
  background: linear-gradient(90deg, #FFC700 0%, #B1482A 100%);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.slide-main__copy-text {
  position: absolute;
  color: #fff;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.slide-main__copy-text.slide-main__copy-text_act {
  opacity: 1;
  visibility: visible;
}

.slide-main__copy-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  border: 2px dashed #FFF;
  background: rgba(255, 255, 255, 0.35);
  padding: 10px 20px;
  cursor: pointer;
  color: #FFF;
  font-family: Proxima;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.slide-main__copy-inner img {
  max-width: 20px;
  margin-left: 20px;
}

.slide-main__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.slide-main__new {
  max-width: 400px;
  width: 100%;
}

.slide-main__telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 146.414px;
  background: #24A1DD;
  padding: 10px 15px 10px 30px;
  color: #FFF;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 22px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-main__telegram_padding {
  font-size: 22px;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 10px 15px 10px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-main__telegram img {
  margin-left: 20px;
  width: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-main__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-main__phone img {
  width: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-webp .slide-mix {
  background: url("../img/slide-mix-bg.jpg") 0 0/100% 100% no-repeat; }

.slide-mix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  text-align: center;
}

.slide-mix__logo {
  margin-bottom: 20px;
  width: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.slide-mix__logo img {
  max-width: 100%;
}

.slide-mix__icon {
  max-width: 50px;
  margin: 0px auto 20px;
}

.slide-mix__icon img {
  max-width: 100%;
}

.slide-mix__title {
  color: #2C2C2C;
  font-family: FoglihtenNo06;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 95.4%;
  letter-spacing: 3.675px;
  margin-bottom: 20px;
}

.slide-mix__title span {
  font-size: 30px;
  display: block;
  margin-top: 15px;
}

.slide-mix__sub-title {
  max-width: 500px;
  margin: 0px auto 20px;
}

.slide-mix__sub-title img {
  max-width: 100%;
}

.slide-mix__wrap {
  color: #2C2C2C;
  font-family: FoglihtenNo06;
  font-size: 65px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 6.825px;
  margin-bottom: 50px;
}

.slide-mix__text {
  color: #000;
  text-align: center;
  font-family: FoglihtenNo06;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 5.25px;
  max-width: 530px;
  text-align: center;
  margin: 0px auto 50px;
}

.slide-mix__text span {
  position: relative;
}

.slide-mix__text span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background: #000;
}

.slide-mix__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -50px;
}

.slide-mix__column {
  padding: 0 50px;
}

.slide-mix__column:first-child {
  text-align: right;
}

.slide-mix__column:first-child .slide-mix__item {
  position: relative;
}

.slide-mix__column:first-child .slide-mix__item::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #2C2C2C;
  right: -50px;
  top: 0;
}

.slide-mix__column:last-child {
  text-align: left;
}

.slide-mix__item {
  margin-bottom: 20px;
}

.slide-mix__label {
  color: #2C2C2C;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.slide-mix__value {
  color: #2C2C2C;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.no-webp .slide-ready {
  background: url("../img/slide-ready-bg.jpg") 0 0/cover no-repeat; }

.slide-ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.slide-ready__logo {
  margin-bottom: 20px;
  width: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.slide-ready__logo img {
  max-width: 100%;
}

.slide-ready__title {
  text-align: center;
  font-size: 60px;
  font-weight: 450;
  line-height: 90%;
  margin: 0px auto 10px;
  max-width: 550px;
  background: linear-gradient(158deg, #FFF -40.11%, rgba(255, 255, 255, 0) 113.44%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-ready__bottom {
  position: relative;
  z-index: 2;
  width: 100%;
}

.slide-ready__block {
  margin-bottom: 50px;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s ease 0.8s;
  transition: all 1s ease 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#FFC700), to(#B1482A)), -webkit-gradient(linear, left top, right top, from(#FF9A9E), color-stop(99%, #FAD0C4), to(#FAD0C4));
  background: linear-gradient(90deg, #FFC700 0%, #B1482A 100%), linear-gradient(90deg, #FF9A9E 0%, #FAD0C4 99%, #FAD0C4 100%);
}

.slide-ready__track {
  -webkit-animation: marquee 22s linear infinite;
          animation: marquee 22s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.slide-ready__track p {
  color: #FFF;
  font-family: Konstruktor;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-ready__track p::after {
  content: "";
  width: 15px;
  height: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 12px;
}

.slide-ready__text {
  text-align: left;
  margin-bottom: 20px;
}

.slide-ready__text p:nth-child(1) {
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 30px;
  max-width: 90%;
}

.slide-ready__text p:nth-child(2) {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 30px;
  max-width: 70%;
}

.slide-ready__text p:nth-child(3) {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  max-width: 70%;
}

.slide-ready__text p:nth-child(3) span {
  display: inline-block;
  line-height: 80%;
  padding: 0px 10px 5px;
  color: #000;
  white-space: nowrap;
  border-radius: 9px;
  background: -webkit-gradient(linear, left top, right top, from(#FFC700), to(#B1482A));
  background: linear-gradient(90deg, #FFC700 0%, #B1482A 100%);
}

.slide-ready__decor {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 450px;
}

.slide-ready__decor img {
  max-width: 100%;
}

.slide-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 20px 20px;
  background: #FFF;
  position: relative;
}

.slide-reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  background: #F9F9F9;
  padding: 5px 20px;
  margin-bottom: 10px;
}

.slide-reviews__top svg {
  width: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  height: 80px;
  margin-left: auto;
  margin-right: 10px;
}

.slide-reviews__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.slide-reviews__value {
  color: #4D4D4D;
  font-family: yandex;
  font-size: 60px;
  font-weight: 500;
  line-height: 112.8%;
  margin-right: 20px;
}

.slide-reviews__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.slide-reviews__rating svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.slide-reviews__evaluation {
  color: #4D4D4D;
  font-family: yandex;
  font-size: 18px;
  font-weight: 400;
  line-height: 112.8%;
}

.slide-reviews__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-reviews__top-text {
  color: #4D4D4D;
  font-family: yandex;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.8%;
  margin-bottom: 5px;
}

.slide-reviews__bottom-text {
  color: #4D4D4D;
  font-family: yandex;
  font-size: 15px;
  font-weight: 300;
  line-height: 112.8%;
  max-width: 200px;
}

.slide-reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px 20px;
  row-gap: 10px;
}

.slide-reviews__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 5px;
}

.slide-reviews__item {
  border-radius: 13.943px;
  background: #F9F9F9;
  padding: 10px 20px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 112.8%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slide-reviews__item:not(:last-child) {
  margin-bottom: 10px;
}

.slide-reviews__item svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 15px;
  margin-bottom: 3px;
}

.slide-reviews__item span {
  color: #3CB200;
  margin-right: 10px;
}

.slide-reviews__span {
  color: #000 !important;
  margin-bottom: -2px;
  margin-right: 0 !important;
}

.slide-reviews__link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  border-radius: 114px;
  background: #196DFF;
  color: #FFF;
  font-family: yandex;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 112.8%;
  /* 51.643px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 93%;
  width: 100%;
  padding: 15px 20px;
  margin: 0px auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-reviews__link path {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-reviews__link svg {
  margin-right: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.bottom-reviews__item:not(:last-child) {
  margin-bottom: 20px;
}

.bottom-reviews__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.bottom-reviews__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-reviews__image {
  max-width: 50px;
  margin-right: 15px;
}

.bottom-reviews__image img {
  max-width: 100%;
  border-radius: 50%;
}

.bottom-reviews__name {
  color: #000;
  font-family: yandex;
  font-size: 20px;
  font-weight: 500;
  line-height: 112.8%;
}

.bottom-reviews__label {
  color: #878787;
  font-family: yandex;
  font-size: 18px;
  font-weight: 400;
  line-height: 112.8%;
}

.bottom-reviews__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-reviews__rating svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.bottom-reviews__text {
  color: #878787;
  font-family: yandex;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
}

.bottom-reviews__text span {
  color: #000;
}

.no-webp .slide-sale {
  background: url("../img/sale-bg.jpg") 0 0/cover no-repeat; }

.slide-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

.slide-sale__logo {
  margin-bottom: 20px;
  width: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.slide-sale__logo img {
  max-width: 100%;
}

.slide-sale__title {
  font-size: 50px;
  font-weight: 450;
  line-height: 90%;
  margin-bottom: 20px;
  max-width: 330px;
}

.slide-sale__wrap {
  text-align: center;
  margin-bottom: 40px;
}

.slide-sale__sub-title {
  color: #000;
  font-size: 33px;
  font-weight: 500;
  line-height: 97.2%;
  margin-bottom: 10px;
}

.slide-sale__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-sale__label {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  padding: 10px 15px;
  margin: 0 10px;
}

.slide-sale__label_act {
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.37);
}

.slide-sale__bottom {
  border-radius: 40px;
  background: #fff;
  padding: 20px;
  position: relative;
}

.slide-sale__bottom::before {
  content: "";
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
  width: 90%;
  height: 90%;
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  z-index: -1;
}

.slide-sale__bottom::after {
  content: "";
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.25);
  width: 80%;
  height: 90%;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  z-index: -1;
}

.slide-sale__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -5px 20px;
}

.slide-sale__column {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-sale__column:last-child {
  text-align: right;
}

.slide-sale__head {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  border-radius: 69px;
  border: 1px solid #000;
  padding: 5px 15px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.slide-sale__text {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 97.2%;
  margin-bottom: 10px;
  max-width: 200px;
}

.slide-sale__value {
  color: #BEBEBE;
  font-size: 20px;
  font-weight: 500;
  line-height: 97.2%;
}

.slide-sale__image {
  max-width: 200px;
  margin-bottom: 20px;
}

.slide-sale__image img {
  max-width: 100%;
  border-radius: 35px;
}

.slide-sale__link {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background: #000;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 104.7%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-sale__link svg {
  margin-right: 5%;
}

.slide-sale__link svg:nth-child(1) {
  width: 30px;
}

.slide-sale__link svg:nth-child(2) {
  width: 70px;
}

.slide-sale__decor {
  position: absolute;
  right: 20px;
  top: 50px;
  max-width: 150px;
}

.slide-sale__decor img {
  max-width: 100%;
  border-radius: 35px;
}

.no-webp .slide-skittles {
  background: url("../img/skittles-bg.jpg") 0 0/cover no-repeat; }

.slide-skittles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.slide-skittles__logo {
  margin-bottom: 20px;
  width: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.slide-skittles__logo img {
  max-width: 100%;
}

.slide-skittles__block {
  margin-bottom: 20px;
}

.slide-skittles__sub-title {
  color: #F2F1D8;
  text-align: center;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  border-radius: 81.425px;
  background: #2FAC67;
  padding: 5px 10px;
  display: inline-block;
}

.slide-skittles__title {
  max-width: 450px;
  margin: 0px auto 20px;
}

.slide-skittles__title img {
  max-width: 100%;
}

.slide-skittles__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F2F1D8;
  text-align: center;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}

.slide-skittles__text p {
  border-radius: 81.425px;
  background: #746ABB;
  padding: 5px 10px;
  white-space: nowrap;
}

.slide-skittles__items {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slide-skittles__item {
  padding: 10px 15px;
  color: #F2F1D8;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border-radius: 23px;
}

.slide-skittles__item:nth-child(1) {
  background: #13A19A;
}

.slide-skittles__item:nth-child(2) {
  background: #29225B;
}

.slide-skittles__item:nth-child(3) {
  background: #F28E01;
}

.slide-skittles__item:nth-child(4) {
  background: #E84F1A;
}

.slide-skittles__item:not(:last-child) {
  margin-bottom: 10px;
}

.slide-skittles__item span {
  font-weight: 700;
}

.slide-skittles__image-1 {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  max-width: 400px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__image-1 img {
  max-width: 100%;
}

.slide-skittles__image-2 {
  position: absolute;
  top: 2%;
  right: -10px;
  max-width: 200px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__image-2 img {
  max-width: 100%;
}

.slide-skittles__image-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 300px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__image-3 img {
  max-width: 100%;
}

.slide-skittles__decor-1 {
  position: absolute;
  top: 15%;
  left: 15%;
  max-width: 40px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__decor-1 img {
  max-width: 100%;
}

.slide-skittles__decor-2 {
  position: absolute;
  top: 20%;
  right: 30%;
  max-width: 20px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__decor-2 img {
  max-width: 100%;
}

.slide-skittles__decor-3 {
  position: absolute;
  bottom: 45%;
  right: 5%;
  max-width: 30px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__decor-3 img {
  max-width: 100%;
}

.slide-skittles__decor-4 {
  position: absolute;
  bottom: 25%;
  left: 19%;
  max-width: 40px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__decor-4 img {
  max-width: 100%;
}

.slide-skittles__decor-5 {
  position: absolute;
  bottom: 5%;
  left: 40%;
  max-width: 20px;
  width: 100%;
  z-index: -1;
}

.slide-skittles__decor-5 img {
  max-width: 100%;
}

.slide-menu {
  background: #F9F9F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  padding-bottom: 15vh;
  position: relative;
  overflow: hidden;
}

.slide-menu__logo {
  margin-bottom: 20px;
  width: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.slide-menu__logo img {
  max-width: 100%;
}

.slide-menu__icon {
  margin-bottom: 20px;
  max-width: 50px;
}

.slide-menu__icon img {
  max-width: 100%;
}

.slide-menu__title {
  color: #000;
  font-family: Concrete;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 92.539%;
  margin-bottom: 20px;
  max-width: 330px;
}

.slide-menu__block {
  position: relative;
}

.slide-menu__list {
  margin-bottom: 40px;
}

.slide-menu__item {
  color: #222;
  font-family: Catallina;
  font-size: 24px;
  font-weight: 400;
  line-height: 115.7%;
  text-transform: uppercase;
  padding-left: 15px;
  position: relative;
}

.slide-menu__item::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #000;
  border-radius: 50%;
  left: 5px;
  top: 0.4em;
}

.slide-menu__item:nth-child(2) {
  font-style: italic;
}

.slide-menu__item:nth-child(2)::before {
  width: 5px;
  height: 5px;
}

.slide-menu__item:nth-child(3) {
  font-family: Proxima;
}

.slide-menu__item:nth-child(3)::before {
  width: 5px;
  height: 5px;
}

.slide-menu__item:nth-child(4) {
  font-family: Concrete;
}

.slide-menu__item:nth-child(5) {
  font-family: gilroy;
}

.slide-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.slide-menu__link {
  color: #000;
  font-size: 35px;
  font-weight: 500;
  line-height: 101.2%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-menu__link span {
  position: relative;
}

.slide-menu__link span::after {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
}

.slide-menu__link img {
  margin-right: 10px;
  max-width: 60px;
}

.slide-menu__arrow {
  position: absolute;
  left: 50%;
  bottom: 40px;
  max-width: 80px;
}

.slide-menu__arrow img {
  max-width: 100%;
}

.slide-menu__image-1 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slide-menu__image-2 {
  position: absolute;
  top: 0;
  left: 3%;
  z-index: -1;
  max-width: 200px;
}

.slide-menu__image-2 img {
  max-width: 100%;
}

.slide-menu__image-3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: 300px;
}

.slide-menu__image-3 img {
  max-width: 100%;
}

.slide-menu__image-4 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: -1;
  max-width: 200px;
}

.slide-menu__image-4 img {
  max-width: 100%;
}

.slide-menu__image-5 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-width: 400px;
}

.slide-menu__image-5 img {
  max-width: 100%;
}

.slide-video {
  position: relative;
  overflow: hidden;
}

.slide-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-video-2 {
  position: relative;
  overflow: hidden;
}

.slide-video-2 video {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translate3d(0);
            transform: translate3d(0);
  }

  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@media (min-width: 479.98px) {
  .slide-menu__image-1 img {
    max-height: 95%;
  }
}

@media (max-width: 1700px) {
  .main__row-line {
    width: 18.5%;
  }
}

@media (max-width: 1590px) {
  .slide-reviews__item {
    padding: 10px;
    font-size: 18px;
  }
}

@media (max-width: 1440px) {
  .main__row-line {
    width: 23.5%;
    top: 10px;
  }

  .slide-main__sub-title {
    max-width: 260px;
  }

  .slide-main__title {
    font-size: 34px;
  }

  .slide-main__title span {
    font-size: 120px;
  }

  .slide-main__block-text {
    font-size: 26px;
    padding: 7px 12px;
    margin-bottom: 20px;
  }

  .slide-main__time {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .slide-main__address {
    font-size: 20px;
    padding: 7px 17px;
  }

  .slide-main__address img {
    width: 35px;
  }

  .slide-main__passage {
    font-size: 22px;
  }

  .slide-main__passage img {
    width: 35px;
  }

  .slide-main__text-head {
    font-size: 18px;
    max-width: 350px;
  }

  .slide-main__copy-block {
    padding: 15px;
    margin-bottom: 10px;
  }

  .slide-main__copy-inner {
    font-size: 20px;
  }

  .slide-mix__title span {
    font-size: 28px;
    margin-top: 10px;
  }

  .slide-mix__sub-title {
    max-width: 450px;
  }

  .slide-mix__wrap {
    font-size: 55px;
    margin-bottom: 30px;
  }

  .slide-mix__text {
    font-size: 24px;
    margin: 0px auto 30px;
  }

  .slide-mix__item {
    margin-bottom: 10px;
  }

  .slide-mix__label {
    font-size: 19px;
  }

  .slide-mix__value {
    font-size: 19px;
  }

  .slide-ready__title {
    font-size: 60px;
    max-width: 500px;
    line-height: 90%;
    margin: 0px auto 20px;
  }

  .slide-ready__block {
    margin-bottom: 40px;
  }

  .slide-ready__track p {
    font-size: 30px;
  }

  .slide-ready__track p::after {
    content: "";
    margin-bottom: 12px;
  }

  .slide-ready__text {
    margin-bottom: 0;
  }

  .slide-ready__text p:nth-child(1) {
    font-size: 22px;
  }

  .slide-ready__text p:nth-child(2) {
    font-size: 26px;
  }

  .slide-ready__text p:nth-child(3) {
    font-size: 26px;
  }

  .slide-reviews {
    padding: 30px 20px 20px;
  }

  .slide-reviews__top svg {
    width: 6%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    height: 60px;
  }

  .slide-reviews__value {
    font-size: 50px;
  }

  .slide-reviews__evaluation {
    font-size: 16px;
  }

  .slide-reviews__top-text {
    font-size: 16px;
  }

  .slide-reviews__bottom-text {
    font-size: 14px;
  }

  .slide-reviews__body {
    margin: 0 -10px 20px;
  }

  .slide-reviews__item {
    font-size: 16px;
  }

  .slide-reviews__link {
    padding: 10px 20px;
    font-size: 26px;
  }

  .bottom-reviews__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .bottom-reviews__head {
    margin-bottom: 5px;
  }

  .bottom-reviews__name {
    font-size: 18px;
  }

  .bottom-reviews__label {
    font-size: 16px;
  }

  .bottom-reviews__text {
    font-size: 15px;
  }

  .slide-sale__title {
    font-size: 45px;
    max-width: 500px;
    line-height: 90%;
    max-width: 300px;
  }

  .slide-sale__sub-title {
    font-size: 28px;
  }

  .slide-sale__label {
    font-size: 22px;
  }

  .slide-sale__head {
    font-size: 18px;
  }

  .slide-sale__text {
    font-size: 45px;
  }

  .slide-sale__value {
    font-size: 18px;
  }

  .slide-sale__image {
    max-width: 180px;
    margin-bottom: 10px;
  }

  .slide-menu__title {
    font-size: 45px;
    line-height: 90%;
    max-width: 300px;
  }

  .slide-menu__list {
    margin-bottom: 20px;
  }

  .slide-menu__arrow {
    bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .main__row-line {
    width: 32%;
  }
}

@media (max-width: 991.98px) {
  .slide-main__logo {
    width: 50px;
  }

  .slide-main__sub-title {
    width: 240px;
  }

  .slide-main__title {
    font-size: 30px;
  }

  .slide-main__title span {
    font-size: 105px;
  }

  .slide-main__block-text {
    font-size: 22px;
  }

  .slide-main__time {
    font-size: 20px;
  }

  .slide-main__address {
    font-size: 18px;
  }

  .slide-main__passage {
    font-size: 20px;
  }

  .slide-main__text-head {
    font-size: 16px;
    max-width: 320px;
  }

  .slide-main__copy-inner {
    font-size: 18px;
  }

  .slide-main__telegram {
    font-size: 18px;
  }

  .slide-mix__logo {
    width: 50px;
  }

  .slide-mix__icon {
    max-width: 40px;
  }

  .slide-mix__title {
    font-size: 18px;
  }

  .slide-mix__title span {
    font-size: 25px;
  }

  .slide-mix__sub-title {
    max-width: 400px;
  }

  .slide-mix__wrap {
    font-size: 40px;
  }

  .slide-mix__text {
    font-size: 20px;
    max-width: 415px;
  }

  .slide-mix__body {
    margin: 0 -40px;
  }

  .slide-mix__column {
    padding: 0 40px;
  }

  .slide-mix__column:first-child .slide-mix__item::after {
    right: -40px;
  }

  .slide-mix__label {
    font-size: 18px;
  }

  .slide-mix__value {
    font-size: 18px;
  }

  .slide-ready__logo {
    width: 50px;
  }

  .slide-ready__title {
    font-size: 50px;
    max-width: 460px;
  }

  .slide-ready__track {
    padding-top: 10px;
  }

  .slide-ready__track p {
    font-size: 28px;
  }

  .slide-ready__track p::after {
    content: "";
    margin-bottom: 11px;
  }

  .slide-ready__text p:nth-child(1) {
    font-size: 20px;
  }

  .slide-ready__text p:nth-child(2) {
    font-size: 25px;
  }

  .slide-ready__text p:nth-child(3) {
    font-size: 25px;
  }

  .slide-ready__decor {
    max-width: 400px;
  }

  .slide-reviews__value {
    font-size: 40px;
    margin-right: 15px;
  }

  .slide-reviews__rating svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
    width: 15px;
    height: 15px;
  }

  .slide-reviews__evaluation {
    font-size: 15px;
  }

  .slide-reviews__top-text {
    font-size: 15px;
  }

  .slide-reviews__bottom-text {
    font-size: 13px;
  }

  .slide-reviews__item {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .slide-reviews__link {
    font-size: 22px;
    bottom: 20px;
    padding: 8px;
  }

  .bottom-reviews__image {
    max-width: 45px;
    margin-right: 10px;
  }

  .bottom-reviews__name {
    font-size: 16px;
  }

  .bottom-reviews__label {
    font-size: 14px;
  }

  .bottom-reviews__rating svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
    width: 15px;
    height: 15px;
  }

  .bottom-reviews__text {
    font-size: 14px;
  }

  .slide-sale__logo {
    width: 50px;
  }

  .slide-sale__title {
    font-size: 50px;
    max-width: 460px;
  }

  .slide-sale__text {
    font-size: 40px;
  }

  .slide-sale__decor {
    max-width: 100px;
  }

  .slide-sale__decor img {
    border-radius: 25px;
  }

  .slide-skittles__logo {
    width: 50px;
  }

  .slide-skittles__sub-title {
    font-size: 18px;
  }

  .slide-skittles__title {
    max-width: 400px;
  }

  .slide-skittles__text {
    font-size: 18px;
  }

  .slide-skittles__item {
    font-size: 18px;
  }

  .slide-skittles__image-2 {
    display: none;
  }

  .slide-menu__logo {
    width: 50px;
  }

  .slide-menu__title {
    font-size: 40px;
    max-width: 260px;
  }

  .slide-menu__item {
    font-size: 20px;
  }

  .slide-menu__link {
    font-size: 30px;
  }

  .slide-menu__link img {
    max-width: 50px;
  }

  .slide-menu__arrow {
    bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .main__row-line {
    width: 46%;
    top: 10px;
  }

  .boxes-autoplay-progress {
    height: 5px;
  }

  .main__button-prev {
    display: none;
  }

  .main__button-next {
    display: none;
  }

  .slide-main__logo {
    width: 40px;
  }

  .slide-main__sub-title {
    width: 180px;
  }

  .slide-main__title {
    font-size: 20px;
  }

  .slide-main__title span {
    font-size: 70px;
  }

  .slide-main__block-text {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .slide-main__time {
    font-size: 16px;
  }

  .slide-main__address {
    font-size: 16px;
    padding: 5px 10px;
  }

  .slide-main__address img {
    width: 30px;
  }

  .slide-main__passage {
    font-size: 16px;
  }

  .slide-main__passage img {
    width: 30px;
  }

  .slide-main__text-head {
    font-size: 15px;
  }

  .slide-main__copy-block {
    padding: 10px;
    border-radius: 10px;
  }

  .slide-main__copy-inner {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .slide-main__copy-inner img {
    max-width: 15px;
  }

  .slide-main__new {
    max-width: 300px;
  }

  .slide-main__telegram_padding {
    padding: 10px 15px 10px 20px !important;
  }

  .slide-main__telegram {
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 10px;
  }

  .slide-main__telegram img {
    width: 35px;
    margin-left: 10px;
  }

  .slide-main__phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
    height: 55px;
  }

  .slide-main__phone img {
    width: 27px;
  }

  .slide-mix__logo {
    width: 40px;
  }

  .slide-mix__icon {
    max-width: 30px;
  }

  .slide-mix__title {
    font-size: 16px;
  }

  .slide-mix__title span {
    font-size: 24px;
  }

  .slide-mix__sub-title {
    max-width: 350px;
  }

  .slide-mix__wrap {
    font-size: 30px;
  }

  .slide-mix__text {
    font-size: 16px;
    max-width: 360px;
  }

  .slide-mix__text span::after {
    bottom: 2px;
    height: 1px;
  }

  .slide-mix__body {
    margin: 0 -20px;
  }

  .slide-mix__column {
    padding: 0 20px;
  }

  .slide-mix__column:first-child .slide-mix__item::after {
    right: -20px;
  }

  .slide-mix__label {
    font-size: 16px;
  }

  .slide-mix__value {
    font-size: 16px;
  }

  .slide-ready__logo {
    width: 40px;
  }

  .slide-ready__title {
    font-size: 40px;
    max-width: 310px;
  }

  .slide-ready__track p {
    font-size: 20px;
    padding: 0 5px 1px;
  }

  .slide-ready__track p::after {
    width: 10px;
    height: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10px;
            flex: 0 0 10px;
    margin-left: 10px;
  }

  .slide-ready__text p:nth-child(1) {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .slide-ready__text p:nth-child(2) {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 80%;
  }

  .slide-ready__text p:nth-child(3) {
    font-size: 20px;
    max-width: 80%;
  }

  .slide-ready__decor {
    max-width: 250px;
  }

  .slide-reviews__top {
    margin-bottom: 10px;
  }

  .slide-reviews__value {
    font-size: 30px;
  }

  .slide-reviews__evaluation {
    font-size: 14px;
  }

  .slide-reviews__top-text {
    font-size: 14px;
  }

  .slide-reviews__body {
    margin: 0 -10px 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .slide-reviews__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .slide-reviews__item {
    font-size: 14px;
  }

  .slide-reviews__link {
    font-size: 18px;
    padding: 10px;
  }

  .slide-reviews__link svg {
    height: 20px;
    margin-right: 5px;
  }

  .bottom-reviews__name {
    font-size: 14px;
  }

  .bottom-reviews__label {
    font-size: 13px;
  }

  .bottom-reviews__text {
    font-size: 13px;
  }

  .slide-sale__logo {
    width: 40px;
  }

  .slide-sale__title {
    font-size: 40px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .slide-sale__wrap {
    margin-bottom: 40px;
  }

  .slide-sale__sub-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .slide-sale__label {
    font-size: 18px;
  }

  .slide-sale__bottom {
    border-radius: 20px;
    margin: 0 -20px;
    padding: 15px 10px;
  }

  .slide-sale__head {
    font-size: 16px;
    padding: 5px;
    border-radius: 40px;
  }

  .slide-sale__text {
    font-size: 30px;
  }

  .slide-sale__value {
    font-size: 16px;
  }

  .slide-sale__link {
    font-size: 20px;
    padding: 5px 10px;
  }

  .slide-sale__link svg:nth-child(1) {
    width: 25px;
  }

  .slide-sale__link svg:nth-child(2) {
    width: 60px;
  }

  .slide-sale__decor {
    display: none;
  }

  .slide-skittles__logo {
    width: 40px;
  }

  .slide-skittles__sub-title {
    font-size: 16px;
  }

  .slide-skittles__title {
    max-width: 300px;
  }

  .slide-skittles__text {
    font-size: 16px;
  }

  .slide-skittles__item {
    font-size: 16px;
  }

  .slide-menu__logo {
    width: 40px;
  }

  .slide-menu__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .slide-menu__item {
    font-size: 18px;
  }

  .slide-menu__link {
    font-size: 24px;
  }

  .slide-menu__link img {
    font-size: 24px;
  }

  .slide-menu__arrow {
    left: 200px;
  }

  .slide-menu__image-3 {
    max-width: 280px;
  }
}

@media (max-width: 479.98px) {
  .slide-reviews {
    padding: 30px 20px 10px;
  }

  .slide-reviews__top {
    margin: 0 -20px 20px;
    padding: 10px 15px;
  }

  .slide-reviews__svg {
    display: none;
  }

  .slide-reviews__right {
    max-width: 150px;
  }

  .slide-reviews__body {
    background: #F9F9F9;
    margin: 0 -10px 20px;
    padding: 10px 15px;
  }

  .slide-reviews__box {
    padding: 0 5px;
  }

  .slide-reviews__item {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }

  .slide-reviews__item svg {
    display: none;
  }

  .slide-reviews__span {
    display: none;
  }

  .slide-reviews__link {
    max-width: 90%;
    bottom: 20px;
  }

  .bottom-reviews__item:last-child {
    display: none;
  }

  .slide-sale__text {
    max-width: 150px;
  }

  .slide-sale__image {
    max-width: 150px;
  }

  .slide-sale__link {
    font-size: 18px;
  }

  .slide-sale__link svg {
    margin-right: 4%;
  }

  .slide-sale__link svg:nth-child(1) {
    width: 20px;
  }

  .slide-sale__link svg:nth-child(2) {
    width: 45px;
  }

  .slide-menu__image-1 {
    height: auto;
    max-width: 80px;
  }

  .slide-menu__image-1 img {
    max-width: 100%;
  }

  .slide-menu__image-4 {
    right: 0;
    max-width: 150px;
  }
}

@media (max-width: 340px) {
  .slide-reviews__rating svg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12px;
            flex: 0 0 12px;
    width: 12px;
    height: 12px;
  }
}

@media (any-hover: hover) {
  .main__button-prev:hover {
    opacity: 1;
  }

  .main__button-next:hover {
    opacity: 1;
  }

  .slide-main__telegram:hover {
    background: #000;
  }

  .slide-main__telegram:hover img {
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }

  .slide-main__phone:hover {
    background: #000;
  }

  .slide-main__phone:hover img {
    -webkit-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }

  .slide-reviews__link:hover {
    background: #000;
  }

  .slide-reviews__link:hover path:nth-child(2) {
    fill: #000;
  }

  .slide-sale__link:hover {
    background: #196DFF;
  }

  .slide-menu__link:hover {
    color: #2AABEE;
  }

  .slide-menu__link:hover span::after {
    background: #2AABEE;
  }
}

.webp .slide-main { background: url(../img/slide1.webp) 0 0/cover no-repeat; }

.webp .slide-mix { background: url(../img/slide-mix-bg.webp) 0 0/100% 100% no-repeat; }

.webp .slide-ready { background: url(../img/slide-ready-bg.webp) 0 0/cover no-repeat; }

.webp .slide-sale { background: url(../img/sale-bg.webp) 0 0/cover no-repeat; }

.webp .slide-skittles { background: url(../img/skittles-bg.webp) 0 0/cover no-repeat; }